@import url('/typography.css');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(20, 20, 20);
    color: rgb(217, 212, 203); 
    height: 800vh;
    position: relative;
}
h1, h2 {
    padding: 5px;
    margin-bottom: 8%;
}

.heading {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 400ms ease-in, transform 400ms ease-in;
}
.heading.active {
    transform: translateY(0px);
    opacity: 1;
}

/* Header */

header {
    width: 100%;
    padding: 2%;
    position: fixed;
    top: 0;
    bottom: 87%;
    z-index: 3;
    /* background-color: rgb(23, 23, 23); */
    color: rgb(140, 139, 128);
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
    /* box-shadow: 0px 6px 9px 0px rgb(109, 109, 109); */
}

.menu {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    letter-spacing: -0.5px;
    padding: 10px;
}

.navigation {
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
.navigation.inactive > button {
    position: relative;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.navigation.inactive {
    display: none;
    flex-basis: 30%;
}

.logo {
    flex-basis: 50%;
    list-style-type: none;
}
.menu a {
    text-decoration: none;
    color: inherit;
    position: relative;
}
.menu a:after, .navigation.inactive button:after {
    content: "";
    border-bottom: solid 1px rgb(140, 139, 128);;
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms cubic-bezier(.65,.05,.36,1);
}
.menu a:hover::after,  .navigation.inactive button:hover::after  {
    transform: scaleX(1);
    transform-origin: left;
}

/* Home */

.home {
    font-family: 'Major Mono Display', monospace;
    font-size: 9em;
    width: 100%;
    height: 70vh;
    padding: 10%;
    text-align: center;
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
}
.home > p:first-child {
    margin-right: 20px;
}
.home span {
    display: inline-block;
    transform: scale(0.5);
    transition: transform 600ms ease-in-out;
}
article {
    padding: 10%;
}

/* About Page */

.about {
    width: 100%;
    min-height: 100vh;
    /* border: 7px solid rgba(255, 255, 255, 0.2); */
    transform: scale(0.7);
    transition: transform 500ms cubic-bezier(.65,.05,.36,1), border 500ms cubic-bezier(.65,.05,.36,1);
    margin: auto;
    padding-top: 20%;
    background: rgb(44, 74, 111);
    overflow: hidden;
}
.about-content {
    width: 90%;
    height: 90%;
    /* display: flex; */
    /* justify-content: space-between;  */

}
.about-text {
    min-width: 200px;
    flex-basis: 50%;
    /* padding-left: 20px; */
    
    opacity: 0;
    /* transform: translateX(-100%); */
    /* transition: opacity 10ms cubic-bezier(.65,.05,.36,1), transform 500ms cubic-bezier(.65,.05,.36,1); */
}
.about img {
    object-fit: scale-down;
    object-position: top;
    padding-right: 20px;
    float: left;
    
}

/* Education Page */

.education {
    background: rgb(75, 136, 105);
    color: black;
}
.education section {
    padding: 3%;
    background:  rgb(53, 125, 88);
}

.education ul li {
    list-style-type: none;
    margin-bottom: 30px;
}

.animated-line {
    width: 90%;
    height: 2px;
    background-color: darkgray;
    transform: scaleX(0);
    
}
.animated-line.active {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 1000ms cubic-bezier(.65,.05,.36,1);
    /* transform: scaleX(1); */
    /* transform-origin: left; */
}
.tech-stack .title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5%;
}

/* Projects Page */

.projects {
    height: 100vh;
}

/* Other Interests Page */

.other-interests {
    /* border: 1px solid white; */
    background-color: rgb(23, 23, 23);
}
.heading-interests {
    margin-bottom: 5%;
}
.other-interests section {
    margin-bottom: 5%;
}
.music {
    min-height: 60vh;
}
.music-media-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.music-media {

    box-sizing: content-box;
    width: 300px;
    padding: 5%;
    background-color: rgb(43, 112, 89);
}
.video, .music-image {
    margin: 1em;
    flex-basis: 50%;
}
.video iframe {
    display: block;
    filter: opacity(0.6);
    width: 300px;
    height: 200px;
}

.music-image {
    width: 300px;
    height: 200px;
    box-shadow: 0px 6px 9px 2px rgb(40, 40, 40);
}
.music-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#music-image-1 {
    /* position: absolute; */
    transform: translateY(0px);
    transform: rotateZ(-15deg);
    transform-origin: center;

}
#music-image-2 {
    /* position: absolute; */
    filter: brightness(0.55) sepia(0.4);
    transform: rotateZ(15deg);
    transform-origin: top;
}

.travelling-media {
    display: flex;
    flex-wrap: wrap;
}
.travel-image {
    margin: 3%;
    transform: scale(0.5);
    transition: transform 600ms cubic-bezier(.65,.05,.36,1);
}

.travel-image figure{
    width: 300px;
    height: 200px;
}
.travel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.7)
}


.sports-slide {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.sports-slide i {
    font-size: 3rem;
}


.icon-container {
    display: flex;
    justify-content: space-around;
    /* transform: translateX(110%); */
    /* transition: transform 1000ms linear; */
    animation-name: slideIcons;
    animation-duration: 10s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.icons {
    margin: 2em .5em;
    color: rgb(217, 212, 203); 
}

@keyframes slideIcons {
    from {
      transform: translateX(30%);
    }
  
    to {
      transform: translateX(-110%);
    }
  }



@media all and (max-width: 1350px) {
    .home {
        font-size: 7em;
    }
}
@media all and (max-width: 1100px) {
    .home {
        font-size:5em;
    }
    .sports-slide i {
        font-size: 2.5em;
    }
}
@media all and (max-width: 800px) {
    .home {
        font-size: 4em;
        flex-direction: column;
    }
    .sports-slide i {
        font-size: 2em;
    }
    .navigation {
        display: none;
    }
    .navigation.inactive {
        display: block;
    }
}

